{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron mt-5">
        <div class="container mt-5">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.genre) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Gérer les genre</h1>
        {% for msg in app.flashes('success') %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endfor %}
        {% for msg in app.flashes('error') %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Auteurs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, genre in genre %}
                <tr>
                    <td><a href="{{ path('genre.show', {id: genre.id}) }}">{{ genre.Nom }}</a></td>
                    <td>
                        {% for auteur in auteurs[key] %}
                            {{ auteur.nom_prenom }},
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('genre.edit', {id: genre.id}) }}" class="btn btn-primary">Editer</a>
                        <form method="post" action="{{ path('genre.delete', {id: genre.id}) }}" style="display:inline-block"
                              onsubmit="return confirm('Voulez-vous vraiment supprimé le genre ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('genre.add') }}" class="btn btn-primary mt-5">Ajouter un genre</a>
        </div>
    </div>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
            $('select').select2({
                placeholder: "Genres",
                allowClear: true
            });
        </script>
    {% endblock %}

{% endblock %}