{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="mt-2 mb-4">Livre</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Auteurs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for livre in livre %}
                <tr>
                    <td><a href="{{ path('livre.show', {id: livre.id}) }}">{{ livre.titre }}</a></td>
                    <td>
                        {% for auteur in livre.auteurs %}
                            {{ auteur.nomPrenom }},
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('livre.edit', {id: livre.id}) }}" class="btn btn-primary">Editer</a>
                        <form method="post" action="{{ path('livre.delete', {id: livre.id}) }}" style="display:inline-block" onsubmit="
                        return confirm('Voulez-vous vraiment supprimé le livre ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}