{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Informations sur le livre</h1>
        {% for msg in app.flashes('success') %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endfor %}
        {% for msg in app.flashes('error') %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
        <table class="table table-striped mt-4">
            <tr>
                <td>ISBN</td>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <td>Titre</td>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <td>Date de parution</td>
                <td>{{ livre.dateDeParution|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td>Nombre de pages</td>
                <td>{{ livre.nbpages }}</td>
            </tr>
            <tr>
                <td>Auteurs</td>
                <td>
                    {% for auteur in livre.auteurs %}
                        {{ auteur.nomPrenom }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Genres</td>
                <td>
                    {% for genre in livre.genres %}
                        {{ genre.nom }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Note</td>
                <td>{{ livre.note }}</td>
            </tr>
        </table>
        <div class="container mt-4">
            {{ form_start(form) }}
            <div class="input-group">
                <div class="row">
                    <div class="col">
                        <div class="btn btn-primary">
                            {{ form_row(form.degrease) }}
                        </div>
                    </div>
                    <div class="col">
                        {{ form_row(form.note) }}
                    </div>
                    <div class="col">
                        <div class="btn btn-primary">
                            {{ form_row(form.increase) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
