{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Informations sur le livre</h1>
        <table class="table table-striped mt-4">
            <tr>
                <td>ISBN</td>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <td>Titre</td>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <td>Date de parution</td>
                <td>{{ livre.dateDeParution|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td>Nombre de pages</td>
                <td>{{ livre.nbpages }}</td>
            </tr>
            <tr>
                <td>Note</td>
                <td>{{ livre.note }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
