{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Information sur l'auteur</h1>
        {% for msg in app.flashes('success') %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endfor %}
        {% for msg in app.flashes('error') %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
        <table class="table table-striped mt-4">
            <tr>
                <td>Nom Prenom</td>
                <td>{{ auteur.nomPrenom }}</td>
            </tr>
            <tr>
                <td>Sexe</td>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <td>Date de Naissance</td>
                <td>{{ auteur.dateDeNaissance|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td>Nationalité</td>
                <td>{{ auteur.nationalite }}</td>
            </tr>
            <tr>
                <td>Livres</td>
                <td>
                    {% for book in auteur.livres %}
                        {{ book.titre }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Genres</td>
                <td>
                    {% for genre in genres %}
                        {{ genre.nom }},
                    {% endfor %}
                </td>
            </tr>
        </table>
        <h1 class="mt-2 mb-4">Gérer les notes des livres</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="btn btn-primary">
                    {{ form_row(form.degrease) }}
                </div>
            </div>
            <div class="col">
                {{ form_row(form.note) }}
            </div>
            <div class="col">
                <div class="btn btn-primary">
                    {{ form_row(form.increase) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}